<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scrumboard</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
    (function(){
      'use strict';
      angular.module('scrumboard.demo',[])
      .controller('ScrumboardController', ScrumboardController);

      function ScrumboardController($scope){
        $scope.person = {
          name: 'John',
          age: 35
        };//end person object
      }//end ScrumboardController()
    }());
    </script>
  </head>
  <body ng-app="scrumboard.demo">
    {% verbatim %} <!-- Won't interperate as Django code inside this block-->
    <div ng-controller="ScrumboardController">
      {{person.name}} is {{person.age}} years old.
    </div>
    {% endverbatim %}
  </body>
</html>
